.list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    min-height: 30%;

    &__false{
        padding: 70px 0 700px;
        color: rgb(77, 17, 17);
        font-size: 20px;
        background-image: url("../images/marauders-map.jpg");
        background-position: center;


        @media all and (min-width: 768px) {
            font-size: 40px;
        }

        &-text1{
            background-color: grey;
            margin: 20px;
        }

        &-text2{
            background-color: rgb(77, 17, 17);
            color: grey;
            margin: 20px;
        }
    }

}

.character{
    height: 170px;
    width: 100px;
    margin-bottom: 50px;
    justify-content: center;
    background-color: grey;
    margin: 10px;
    

    
    @media all and (min-width: 768px) {
        height: 290px;
        width: 200px;
      }

    &__image{
        height: 140px;
        width: 100px;

        @media all and (min-width: 768px) {
            height: 240px;
            width: 200px;
          }
    }

    &__data{
        font-size: 10px;
        text-align: center;
        margin: 0;
        text-decoration: none;
        color:black;
  

 
        @media all and (min-width: 768px) {
            font-size: 18px;
          }
    }


}