.header{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 30%;
    &__image{
        width: 200px;
        @media all and (min-width: 768px) {
            width: 490px;            
        }
    }


}